body {
    background-color: rgb(191, 250, 245);
    text-align: center;
}
h1 {
    font-size: 70px;
    color: brown;
    font-family: 'Oswald', sans-serif;
}
h1:hover {
    color: rgb(244, 136, 22);
    cursor: pointer;
}

#main {
    position: relative;
}


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap');

/* style social links */
.socials {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding-top: 30px;
}
